* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #f84a4a, #080808);
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 80vmin;
    height: 80vmin;
    max-width: 100vmax;
    max-height: 100vmax;
}

.but.hover,.but.active,.but {
    padding: 0;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background: radial-gradient(circle closest-side, #f8b2b2 30%, #fd6060 70%, #444444 100%);
    aspect-ratio: 1;
}

.but:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(0, 0, 0, 0.2);
    background: radial-gradient(circle closest-side, #f8b2b2 50%, #fd6060 90%, #444444 120%);
}

.but:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: radial-gradient(circle closest-side, #f8b2b2 5%, #fd6060 50%, #444444 90%);
}


.but img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
    transform: scale(0);
    animation: enterImage 1s forwards;
}

@keyframes enterImage {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#reset.hover, #reset.active, #reset {
    padding: 1em 2em;
    font-size: 3vmin;
    background: radial-gradient(circle closest-side, #f7b7b7 30%, #faa0a0 70%, #fa6767 200%);
    color: rgb(128, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2vmin;
    min-width: 10vmin;
}

#reset:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(0, 0, 0, 0.2);
    background: radial-gradient(circle closest-side, #f7b7b7 50%, #faa0a0 90%, #fa6767 220%);
}

#reset:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: radial-gradient(circle closest-side, #f7b7b7 10%, #faa0a0 50%, #fa6767 180%);
}

.popup {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(137, 212, 255);
    padding: 2vmin;
    border-radius: 10px;
    display: none;
    font-size: 4vmin;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 0;
    animation: showPopup 0.5s forwards;
    width: 50vmin;
    max-width: 300px;
}

@keyframes showPopup {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes hidePopup {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}